/*Celý dokument*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {    scroll-behavior: smooth;
    transition: 100ms;}
a {
    text-decoration: none;  
    font-size: 20px;
}
body {
    line-height: 1.6;
    font-family: 'Baloo 2', cursive;
    background-color: rgb(0, 138, 218);
}
header {
    height: 91vh;
    background-image: url(sajsek.jpeg);
    background-position: center center;
    background-size: cover;
}
header .cajovnah1 {
    padding: 200 200 100 38%;
    font-size: 100;
    color: #ffffff;
}
header p {
    padding: 300 20 10 43%;
    font-size: 20px;
}
.downh1 {
    padding: 200 200 100 38%;
    font-size: 100px;
}
/*Navigace*/
nav ul {
    list-style: none;
    display: flex;
}
nav li {
    padding: 20px;
}

nav .container {
    width: 100vh;
    margin: auto;
    padding: 10px;
    display: flex; 
    flex-wrap: nowrap;
    justify-content: space-between;
}
/*Logo*/
.logo a {
    color: white;
    font-size: 20px;
}

.logo img {
    width: 80px;
} 

.arrow {
    position: absolute;
    bottom: 10px;
    left: 47.5%;

}

.arrow a {
    animation: colorRotate 10s linear 0s infinite;
    text-decoration: none;
    font-size: 50px;
  /*  border: solid 1px pink;  */
}

.bounce {
    animation: bounce 2s infinite;
}
.testbounce {
    animation: testbounce 2s infinite;
}
.skillbar {
    padding: 50px;
}
.bar {
    background-color: #d1d1d1;
    width: 100%;
}
.skill1 {
    background-color: #64C345;
    width: 80%;
    text-align: right;
    color: white;
    padding: 10px;
    font-weight: bold;
    animation: skill1 10s ease;
}
.skill2 {
    background-color: #c5d30b;
    width: 60%;
    text-align: right;
    color: white;
    padding: 10px;
    font-weight: bold;
    animation: skill2 10s ease;
}

form {}

label {
    display: block;
}

@keyframes skill1 {
    0% {width: 0%; }
    100% {width: 80%; }
}

@keyframes skill2 {
    0% {width: 0%;}
    100% {width: 60%;}
}

@keyframes bounce {
    0% {transform: translateY(0px);}
    40% {transform: translateY(-30px);}
    50% {transform: translateY(0px);}
    60% {transform: translateY(-15px);}
    100% {transform: translateY(0px);}
}

@keyframes testbounce {
    0% {transform: translateY(0px);}
    40% {transform: translateY(-30px);}
    100% {transform: translateY(0px);}
}


@keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #fb4e4e;
    }
    100% {
      color: #6666ff;
    }
  }