* {
    padding: 0%;
    margin: 0%;
    /*border: 1mm solid red;*/
}

:root {
    --main:#2F2F2F;
    --primary:#fff;
    --secondary:#F7B434;
    --secondary-o:#f7b3349e;
    --secondary-no-o: #AB8132;
}

html {
    scroll-behavior: smooth;
    transition: 100ms;
    position: absolute;
    width: 100%;
}

body {
    background-color: var(--main);
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.logo img {
    width: 65px;
    padding-left: 10px;
}

h1.up {
    position: absolute;
   /* left: 200;
    top: 350; 
    padding-top: 300;
    padding-left: 200;*/
    margin-top: 280;
    margin-left: 200;
    font-family: 'Montserrat', sans-serif;
    font-size: 150;
    text-transform: uppercase;
    color: var(--secondary);
}

h1.up-kontakty {
    position: absolute;
   /* left: 200;
    top: 350; 
    padding-top: 300;
    padding-left: 200;*/
    margin-top: 250;
    margin-left: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 150;
    text-transform: uppercase;
    color: #E08442;
}

.container {
    background-color: var(--secondary-o);
    height: 80px;
    width: 99%;
    position: fixed;
    z-index: 99;
    backdrop-filter: blur(5px);
}


/*Navigace*/
nav a {
    text-decoration: none;
    font-size: 20px;
}
nav ul {
    list-style: none;
    display: flex;
    padding-left: 1400px;
}
nav li {
    padding: 30px;
    padding-right: 50px;
}

nav .container {
    margin: auto;
    padding: 10px;
    display: flex; 
    flex-wrap: nowrap;
    justify-content: space-between;
}

.more-info {
    padding-top: 100px;
    width: 90%;
    height: 100vh;
    display: inline-block;
}

.more-info-o {
    width: 90%;

}

.more-info p {
    padding-top: 150px;
    padding-right: 100px;
    margin-left: 600px;
    font-size: 25px;
    color: white;
}


.more-info-k {
    width: 90%;
    height: 100vh;
    display: inline-block;
    position: fixed;
}

.more-info-k p {
    padding-top: 150px;
    padding-right: 200px;
    margin-left: 500px;
    font-size: 25px;
}
.more-info img {
    padding: 100px;
    width: 350px;
    border-radius: 200px;
}

.more-info a {
    background-color: var(--main);
    color: var(--secondary);
    font-size: 80px;
    text-decoration: none;
    padding: 20px;
    border: 1mm solid var(--secondary);
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 30vh;
    left: 12vh;
    transition: 400ms;
}

.more-info a:hover {
    background-color: var(--secondary-o);
}


.kontakt img {
    padding: 100px;
    width: 350px;
    border-radius: 200px;
}

.kontakt a {
    background-color: var(--main);
    color: var(--secondary);
    font-size: 80px;
    text-decoration: none;
    padding: 20px;
    border: 1mm solid var(--secondary);
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 30vh;
    left: 12vh;
    transition: 400ms;
}

.kontakt p {
    padding-left: 170px;
    text-align: center;
    font-size: 50px;
    color: white;
}

.kontakt {
    padding-top: 100px;
    width: 90%;
    height: 80vh;
    display: inline-block;
}

.text-kontakt {
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 100px;
    padding-left: 37vw;
    color: var(--secondary-no-o);
}

.arrow {
padding-left: 48vw;
position: absolute;
top: 90vh;
color: var(--secondary);
}

.arrow a {
    color: var(--secondary);
}

.arrow a {
    animation: colorRotate 10s linear 0s infinite;
    text-decoration: none;
    font-size: 80px;
    color: v;
   /* border: solid 1px pink; */
}

.scroll p {
    font-size: 30px;
    position: absolute;
    bottom: 0px;
    left: 40.5vw;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: bold;
}

footer {
    background-color: #222222;
    height: 100px;
}



/*----------------------Animace - šipka dolů----------------------*/

.bounce {
    animation: bounce 2s infinite;
}

.testbounce {
    animation: testbounce 2s infinite;
}

/*----------------------SkillBary----------------------*/

.text-skillbary {
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 1px;
    padding-left: 36vw;
    color: var(--secondary-no-o);
}
.skillbar {
    margin-top: 100px;
    padding: 50px;
    height: 56vh;
    width: 94%;
    display: inline-block;
}

.skillbar h4 {
    color: var(--secondary);
    font-size: 50px;
    padding: 20px;
}

.bar {
    background-color: #d1d1d1;
    width: 100%;
    border-radius: 100px;
    margin-bottom: 20px;
}
.skill1 {
    background-color: #64C345;
    width: 80%;
    text-align: right;
    color: white;
    padding: 20px;
    font-weight: bold;
    animation: skill1 3s ease;
    border-radius: 100px;
}
.skill2 {
    background-color: #c5d30b;
    width: 60%;
    text-align: right;
    color: white;
    padding: 20px;
    font-weight: bold;
    animation: skill2 3s ease;
    border-radius: 100px;
}


/*----------------------COPIED - NAV SLIDE BAR----------------------*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--secondary);
   /* background: rgb(113,15,60);
    background: linear-gradient(149deg, rgba(113,15,60,1) 0%, rgba(176,8,173,1) 50%, rgba(89,0,255,1) 100%); */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--primary);
    display: block;
    transition: 0.3s;
  }

.sidenav-ani a:hover {
    color: var(--primary);
    font-size: 26px;
  }
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 58px;
    margin-left: 50px;
  }
  
.moovement {
    padding-top: 5px;
    padding-right: 20px;
}

/*----------------------Responzivita----------------------*/

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 1000px) {
    .scroll {display: none;}
    .bounce {display: none;}
    
}

@media screen and (max-width: 1500px) {
    .link-to-about {display: none;}
    
}
@media screen and (max-height: 650px) {
    .up {display: none;}
    
}

/*----------------------Animace----------------------*/

@keyframes bounce {
    0% {transform: translateY(0px);}
    40% {transform: translateY(-30px);}
    50% {transform: translateY(0px);}
    60% {transform: translateY(-20PX);}
    100% {transform: translateY(0px);}
}

@keyframes testbounce {
    0% {transform: translateY(0px);}
    40% {transform: translateY(-20px);}
    50% {transform: translateY(15px);}
    60% {transform: translateY(-15px);}
    100% {transform: translateY(0px);}
}

@keyframes skill1 {
    0% {width: 0%; }
    100% {width: 80%; }
}

@keyframes skill2 {
    0% {width: 0%;}
    100% {width: 60%;}
}

/*----------------------Formulář----------------------*/
input {background-color: #ddd;}




input[type="text"],
input[type="pass"],
textarea,
select {
    width: 10%;
    border: 3px solid rgb(152, 152, 152);
    border-radius: 10px;
}

input[type="number"] {
    text-align: center;
    width: 3%;
    border: 2px solid rgb(152, 152, 152);
    border-radius: 10px;
}

input[type="email"] {
    width: 15%;
    border: 2px solid rgb(152, 152, 152);
    border-radius: 10px;
}
input[type="password"] {
    text-align: center;
    width: 7%;
    border: 2px solid rgb(152, 152, 152);
    border-radius: 10px;
}
select {
    width: 8%;
    border: 2px solid rgb(152, 152, 152);
    border-radius: 10px;
}

input[type="submit"]:hover {
    color: green;
    font-size: 15px;
    transition: 100ms;
    cursor: pointer;
}
input[type="reset"]:hover {
    color: red;
    font-size: 15px;
    transition: 100ms;
    cursor: pointer;
}

/*----------------------Scrollbar----------------------*/

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #999;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #333;
  }
