h2 {
color:aliceblue;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
text-align: center;}
h1 {color:aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
}

body {
    background-image: url(img/pozadie.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

img { 
    width: 1000px;
    margin: 20px;
    padding-left: 20px;
    text-align: center;
}

div {text-align: center;}

.haha {
    margin-top: auto; 
    text-align: center;
    width: 1000px;
    margin: 22%;
    
}